ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
}

.texto{
  resize: none !important;
  height: auto !important;
}

.btn{
  background: deepskyblue;
  color:white;
}

.erro{
  color:red;
  margin-left: 4%;
}
